In [4]:
import sys
import numpy as np
import pandas as pd
import sklearn
import tensorflow
import warnings

warnings.filterwarnings("ignore")

dir_data = "G:/내 드라이브/kamp/data"

## 데이터 확인 및 전처리

In [2]:
print("Python version :", sys.version)
print("numpy version :", np.__version__)
print("pandas version :", pd.__version__)
print("sklearn version :", sklearn.__version__)
print("tensorflow version :", tensorflow.__version__)

Python version : 3.11.3 | packaged by Anaconda, Inc. | (main, May 15 2023, 15:41:31) [MSC v.1916 64 bit (AMD64)]
numpy version : 1.24.3
pandas version : 2.0.3
sklearn version : 1.2.0
tensorflow version : 2.13.0

In [6]:
df_feat = pd.read_csv(dir_data+"/train.csv", encoding='cp949')

df_feat.info()
df_feat.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 38 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             108 non-null    int64
 1   건조 1존 OP_Avg           108 non-null    float64
 2   건조 1존 OP_Std           108 non-null    float64
 3   건조 2존 OP_Avg           108 non-null    float64
 4   건조 2존 OP_Std           108 non-null    float64
 5   건조로 온도 1 Zone_Avg      108 non-null    float64
 6   건조로 온도 1 Zone_Std      108 non-null    float64
 7   건조로 온도 2 Zone_Avg      108 non-null    float64
 8   건조로 온도 2 Zone_Std      108 non-null    float64
 9   세정기_Avg                108 non-null    float64
 10  세정기_Std                108 non-null    float64
 11  소입1존 OP_Avg            108 non-null    float64
 12  소입1존 OP_Std            108 non-null    float64
 13  소입2존 OP_Avg            108 non-null    float64
 14  소입2존 OP_Std            108 non-null    float64
 15  소입3존 OP_Avg            108 non-null    float64
 16  소입3존 OP_Std            108 non-null    float64
 17  소입4존 OP_Avg            108 non-null    float64
 18  소입4존 OP_Std            108 non-null    float64
 19  소입로 CP 값_Avg           108 non-null    float64
 20  소입로 CP 값_Std           108 non-null    float64
 21  소입로 온도 1 Zone_Avg      108 non-null    float64
 22  소입로 온도 1 Zone_Std      108 non-null    float64
 23  소입로 온도 2 Zone_Avg      108 non-null    float64
 24  소입로 온도 2 Zone_Std      108 non-null    float64
 25  소입로 온도 3 Zone_Avg      108 non-null    float64
 26  소입로 온도 3 Zone_Std      108 non-null    float64
 27  소입로 온도 4 Zone_Avg      108 non-null    float64
 28  소입로 온도 4 Zone_Std      108 non-null    float64
 29  솔트 컨베이어 온도 1 Zone_Avg  108 non-null    float64
 30  솔트 컨베이어 온도 1 Zone_Std  108 non-null    float64
 31  솔트 컨베이어 온도 2 Zone_Avg  108 non-null    float64
 32  솔트 컨베이어 온도 2 Zone_Std  108 non-null    float64
 33  솔트조 온도 1 Zone_Avg      108 non-null    float64
 34  솔트조 온도 1 Zone_Std      108 non-null    float64
 35  솔트조 온도 2 Zone_Avg      108 non-null    float64
 36  솔트조 온도 2 Zone_Std      108 non-null    float64
 37  불량단계                   108 non-null    object
dtypes: float64(36), int64(1), object(1)
memory usage: 32.2+ KB

,Unnamed: 0,건조 1존 OP_Avg,건조 1존 OP_Std,건조 2존 OP_Avg,건조 2존 OP_Std,건조로 온도 1 Zone_Avg,건조로 온도 1 Zone_Std,건조로 온도 2 Zone_Avg,건조로 온도 2 Zone_Std,세정기_Avg,...,소입로 온도 4 Zone_Std,솔트 컨베이어 온도 1 Zone_Avg,솔트 컨베이어 온도 1 Zone_Std,솔트 컨베이어 온도 2 Zone_Avg,솔트 컨베이어 온도 2 Zone_Std,솔트조 온도 1 Zone_Avg,솔트조 온도 1 Zone_Std,솔트조 온도 2 Zone_Avg,솔트조 온도 2 Zone_Std,불량단계
0,97,69.497726,3.274577,20.310463,3.490991,99.999143,0.435237,100.001123,0.401438,67.864965,...,0.304168,284.699659,9.601850,280.411936,6.940009,332.111266,0.152253,332.712474,0.153026,안정
1,125,68.776700,3.548587,16.547672,4.161717,100.077760,0.394062,100.107134,0.291589,69.614220,...,0.303700,285.007150,9.239152,280.646734,6.650701,332.123215,0.225985,332.093658,0.329912,위험
2,11,73.502913,2.645737,21.218347,2.218216,100.006615,0.387797,99.992686,0.281373,66.220995,...,0.402050,283.120448,9.426413,279.110908,6.064772,332.182887,0.099322,332.407261,0.107440,안정
3,129,68.062513,3.439085,4.366498,3.727635,100.040387,0.418439,100.139576,0.334492,69.242707,...,0.360325,285.074759,9.475964,280.790056,6.699134,332.277923,0.121808,332.261568,0.184196,안정
4,48,68.820299,3.946638,19.902113,3.765778,100.071930,0.367971,100.097453,0.291788,65.512487,...,0.211795,284.166005,9.847216,279.587268,6.606966,331.943223,0.189118,332.503069,0.359428,안정

In [9]:
df_qual = pd.read_excel(dir_data+"/quality.xlsx")

df_qual.info()
df_qual.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   배정번호    136 non-null    int64
 1   작업일     136 non-null    datetime64[ns]
 2   공정명     136 non-null    object
 3   설비명     136 non-null    object
 4   양품수량    136 non-null    int64
 5   불량수량    136 non-null    int64
 6   총수량     136 non-null    int64
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 7.6+ KB

     배정번호        작업일  공정명       설비명   양품수량  불량수량    총수량
0  102410 2022-01-03  열처리  열처리 염욕_1  15160     3  15163
1  102585 2022-01-03  열처리  열처리 염욕_1  29892    10  29902
2  102930 2022-01-04  열처리  열처리 염욕_1  59616    30  59646
3  103142 2022-01-05  열처리  열처리 염욕_1  74730    13  74743
4  103675 2022-01-06  열처리  열처리 염욕_1  14979     2  14981

In [11]:
df_test = pd.read_csv(dir_data+"/data.csv", encoding="cp949")

df_test.info()
df_test.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2939722 entries, 0 to 2939721
Data columns (total 21 columns):
 #   Column             Dtype
---  ------             -----
 0   TAG_MIN            object
 1   배정번호               int64
 2   건조 1존 OP           float64
 3   건조 2존 OP           float64
 4   건조로 온도 1 Zone      float64
 5   건조로 온도 2 Zone      float64
 6   세정기                float64
 7   소입1존 OP            float64
 8   소입2존 OP            float64
 9   소입3존 OP            float64
 10  소입4존 OP            float64
 11  소입로 CP 값           float64
 12  소입로 CP 모니터 값       float64
 13  소입로 온도 1 Zone      float64
 14  소입로 온도 2 Zone      float64
 15  소입로 온도 3 Zone      float64
 16  소입로 온도 4 Zone      float64
 17  솔트 컨베이어 온도 1 Zone  float64
 18  솔트 컨베이어 온도 2 Zone  float64
 19  솔트조 온도 1 Zone      float64
 20  솔트조 온도 2 Zone      float64
dtypes: float64(19), int64(1), object(1)
memory usage: 471.0+ MB

,TAG_MIN,배정번호,건조 1존 OP,건조 2존 OP,건조로 온도 1 Zone,건조로 온도 2 Zone,세정기,소입1존 OP,소입2존 OP,소입3존 OP,...,소입로 CP 값,소입로 CP 모니터 값,소입로 온도 1 Zone,소입로 온도 2 Zone,소입로 온도 3 Zone,소입로 온도 4 Zone,솔트 컨베이어 온도 1 Zone,솔트 컨베이어 온도 2 Zone,솔트조 온도 1 Zone,솔트조 온도 2 Zone
0,2022-01-03 11:22:07,102410,75.6648,30.0155,NaN,NaN,68.4386,72.84030,59.7862,51.71690,...,0.450421,NaN,NaN,859.854,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-01-03 11:22:08,102410,75.6706,32.2732,NaN,NaN,68.4386,78.44150,61.6286,50.44530,...,0.450356,1.146260e-10,860.338,859.780,860.044,859.786,294.658,272.538,328.734,328.865
2,2022-01-03 11:22:09,102410,75.6776,32.1592,98.8533,99.14600,68.4386,78.10990,61.5414,52.01960,...,0.450341,1.145200e-10,860.338,859.780,859.981,859.724,294.658,272.538,328.734,328.805
3,2022-01-03 11:22:11,102410,75.8656,30.8312,98.7918,99.17675,68.4999,77.50725,60.6663,52.69425,...,0.450201,1.144670e-10,860.338,859.842,859.950,859.599,294.719,272.538,328.674,328.865
4,2022-01-03 11:22:12,102410,73.6468,29.5274,98.7918,99.20750,68.4386,76.02620,61.1634,51.69150,...,0.450235,1.145360e-10,860.351,859.791,859.991,859.731,294.721,272.599,328.740,328.808

In [23]:
# df_test의 결측치 갯수

num_null_test = len(df_test[df_test.isnull().any(axis=1)])

print("df_test의 결측치 수 =", str(num_null_test))

print("test data 중 결측치 비율 =",str(round(num_null_test/df_test.shape[0],4)))

df_test의 결측치 수 = 4677
test data 중 결측치 비율 = 0.0016

In [18]:
col_df_test = df_test.columns

for i in range(df_test.shape[1]) : 
    num_null_col = df_test[df_test[col_df_test[i]].isnull()].shape[0]
    print("컬럼명이 "+col_df_test[i]+"인 컬럼의 결측치 갯수는 "+str(num_null_col)+"개")

컬럼명이 TAG_MIN인 컬럼의 결측치 갯수는 0개
컬럼명이 배정번호인 컬럼의 결측치 갯수는 0개
컬럼명이 건조 1존 OP인 컬럼의 결측치 갯수는 1개
컬럼명이 건조 2존 OP인 컬럼의 결측치 갯수는 1개
컬럼명이 건조로 온도 1 Zone인 컬럼의 결측치 갯수는 116개
컬럼명이 건조로 온도 2 Zone인 컬럼의 결측치 갯수는 148개
컬럼명이 세정기인 컬럼의 결측치 갯수는 91개
컬럼명이 소입1존 OP인 컬럼의 결측치 갯수는 4288개
컬럼명이 소입2존 OP인 컬럼의 결측치 갯수는 0개
컬럼명이 소입3존 OP인 컬럼의 결측치 갯수는 2개
컬럼명이 소입4존 OP인 컬럼의 결측치 갯수는 3개
컬럼명이 소입로 CP 값인 컬럼의 결측치 갯수는 1개
컬럼명이 소입로 CP 모니터 값인 컬럼의 결측치 갯수는 147개
컬럼명이 소입로 온도 1 Zone인 컬럼의 결측치 갯수는 130개
컬럼명이 소입로 온도 2 Zone인 컬럼의 결측치 갯수는 128개
컬럼명이 소입로 온도 3 Zone인 컬럼의 결측치 갯수는 157개
컬럼명이 소입로 온도 4 Zone인 컬럼의 결측치 갯수는 170개
컬럼명이 솔트 컨베이어 온도 1 Zone인 컬럼의 결측치 갯수는 106개
컬럼명이 솔트 컨베이어 온도 2 Zone인 컬럼의 결측치 갯수는 142개
컬럼명이 솔트조 온도 1 Zone인 컬럼의 결측치 갯수는 209개
컬럼명이 솔트조 온도 2 Zone인 컬럼의 결측치 갯수는 203개

결측치가 전체 데이터의 0.16%여서 데이터를 제거하고 가도 분석하는데 큰 영향을 끼치지 않을 것으로 예상  
그러나 한 배정 번호에 대부분이 결측치로 이뤄져 있는지 확인해야 함

In [24]:
df_test.groupby("배정번호").count()

,TAG_MIN,건조 1존 OP,건조 2존 OP,건조로 온도 1 Zone,건조로 온도 2 Zone,세정기,소입1존 OP,소입2존 OP,소입3존 OP,소입4존 OP,소입로 CP 값,소입로 CP 모니터 값,소입로 온도 1 Zone,소입로 온도 2 Zone,소입로 온도 3 Zone,소입로 온도 4 Zone,솔트 컨베이어 온도 1 Zone,솔트 컨베이어 온도 2 Zone,솔트조 온도 1 Zone,솔트조 온도 2 Zone
배정번호,,,,,,,,,,,,,,,,,,,,
102410,7342,7342,7342,7340,7340,7342,7342,7342,7342,7342,7342,7341,7341,7342,7341,7341,7341,7341,7341,7341
102585,13299,13299,13299,13299,13299,13299,13120,13299,13299,13299,13299,13299,13299,13299,13299,13299,13299,13299,13299,13299
102930,26982,26982,26982,26980,26974,26982,26982,26982,26982,26982,26982,26981,26980,26981,26981,26982,26981,26982,26981,26981
103142,31729,31729,31729,31727,31727,31727,31729,31729,31729,31729,31729,31727,31728,31728,31727,31727,31729,31727,31727,31728
103675,6218,6218,6218,6218,6218,6218,6218,6218,6218,6218,6218,6216,6218,6218,6216,6216,6218,6218,6217,6217
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147292,20151,20151,20151,20151,20151,20151,20151,20151,20151,20151,20151,20151,20147,20151,20151,20145,20142,20148,20151,20146
147546,27651,27651,27651,27649,27651,27651,27651,27651,27651,27651,27651,27651,27651,27649,27651,27649,27649,27650,27649,27649
147982,18558,18558,18558,18558,18557,18558,18558,18558,18558,18558,18558,18558,18557,18557,18558,18557,18558,18557,18557,18557
147996,16092,16092,16092,16092,16092,16092,16092,16092,16092,16092,16092,16088,16092,16088,16088,16092,16090,16092,16092,16092
148069,25787,25787,25787,25786,25786,25787,25787,25787,25787,25787,25787,25787,25787,25786,25787,25783,25785,25786,25774,25782